@font-face {
  font-family: 'Bunken Tech Sans Pro';
  src: url('BunkenTechSansPro-Bold.eot');
  src: url('BunkenTechSansPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('BunkenTechSansPro-Bold.woff2') format('woff2'),
      url('BunkenTechSansPro-Bold.woff') format('woff'),
      url('BunkenTechSansPro-Bold.ttf') format('truetype'),
      url('BunkenTechSansPro-Bold.svg#BunkenTechSansPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bunken Tech Sans Pro ExBd';
  src: url('BunkenTechSansPro-ExBd.eot');
  src: url('BunkenTechSansPro-ExBd.eot?#iefix') format('embedded-opentype'),
      url('BunkenTechSansPro-ExBd.woff2') format('woff2'),
      url('BunkenTechSansPro-ExBd.woff') format('woff'),
      url('BunkenTechSansPro-ExBd.ttf') format('truetype'),
      url('BunkenTechSansPro-ExBd.svg#BunkenTechSansPro-ExBd') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
font-family: "Ubuntu";
font-weight:bold;
src: url("Ubuntu-Bold.ttf");
}

@font-face {
font-family: "Ubuntu";
font-weight:bold;
src: url("Ubuntu-BoldItalic.ttf");
}


@font-face {
font-family: "Ubuntu";
font-weight:bold;
src: url("Ubuntu-Italic.ttf");
}


@font-face {
font-family: "Ubuntu";
font-weight:bold;
src: url("Ubuntu-Light.ttf");
}


@font-face {
font-family: "Ubuntu";
font-weight:bold;
src: url("Ubuntu-LightItalic.ttf");
}


@font-face {
font-family: "Ubuntu";
font-weight:bold;
src: url("Ubuntu-Medium.ttf");
}


@font-face {
font-family: "Ubuntu";
font-weight:bold;
src: url("Ubuntu-MediumItalic.ttf");
}


@font-face {
font-family: "Ubuntu";
font-weight:bold;
src: url("Ubuntu-Regular.ttf");
}

